.window-appicon {
  visibility: hidden;
  display: none;
}

/* Toolbars when tabs are enabled. */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .editor-actions {
  display: none !important;
}

/* File explorer action buttons */
.monaco-workbench .part.sidebar .title-actions .actions-container {
  display: none;
}

/* File Explorer Item Label */
.monaco-tree .monaco-tree-row .label-name,
.monaco-list .monaco-list-row .monaco-icon-label .label-name {
  font-family: "FiraCode Nerd Font" !important;
  color: #fff !important;
}

.composite.title h2 {
  text-transform: uppercase;
  font-size: 13px !important ;
}
.sidebar .title-label {
  padding: 0 !important;
}

/* Scroll Bar */
.slider {
  position: absolute !important;
  right: 1px !important;
  width: 1px !important;
  left: auto !important;
}

.codicon-toolbar-more,
.codicon-word-wrap {
  display: block !important;
}

/* Project title's style at the top. */
.monaco-workbench
  .part.titlebar
  > .titlebar-container
  > .titlebar-center
  > .window-title
  > .command-center
  .action-item.command-center-center {
  border: none !important;
  background: transparent !important;
}

/* Project Title */
.titlebar-left {
  justify-content: flex-start !important;
  flex-grow: 0 !important;
  width: auto !important;
}

/* Search Label */
.search-label {
  font-family: "FiraCode Nerd Font" !important;
  color: #fff;
  display: block;
}

/* Search icon */
.search-icon {
  display: none !important;
}

.codicon-search::before {
  display: none !important;
}

.codicon-arrow-right,
.codicon-arrow-left {
  display: none !important;
}

.titlebar-right > * {
  display: none !important;
}

/* Command Palette */
.quick-input-widget {
  border-radius: 10px !important;
}

/* Remove background for lists */
/* .monaco-list-rows {
  background: transparent !important;
} */

.notifications-toasts .monaco-list-row:hover {
  background: none !important;
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
  border-radius: 10px !important;
  padding: 8px !important;
  border: none !important;
  font-family: "FiraCode Nerd Font" !important;
  margin-bottom: 16px !important;
}

/* Command palette's input box placeholder. */
.monaco-inputbox input::placeholder {
  color: rgba(255, 255, 255, 0.3) !important;
}
